<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<div class="container">
    <div class="mt-5">
    <%- include('./partials/flash') %>
    </div>
  <h1 class="display-3 mt-5 mb-2">Error Page</h1>
</div>
</body>
</html>